# Data exploration of food

In [1]:
import pandas as pd
import numpy as np

In [2]:
diet_nutri_data = pd.read_csv('dietNutri\FINAL FOOD DATASET\FOOD-DATA-GROUP5.csv')
diet_nutri_data.head()

,Unnamed: 0.1,Unnamed: 0,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,0,0,margarine with yoghurt,88,9.8,1.9,5.6,2.0,0.073,0.0,...,2.8,0.001,0.027,0.3,0.0,2.2,3.5,0.000,0.008,12.971
1,1,1,sunflower seed butter,99,8.8,0.7,6.2,1.6,3.700,1.7,...,10.2,0.300,0.700,49.8,0.3,106.6,92.2,0.075,0.800,27.500
2,2,2,hazelnut oil,120,13.6,1.0,10.6,1.4,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,13.600
3,3,3,menhaden fish oil,1966,218.0,66.3,58.2,74.5,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,218.000
4,4,4,cod liver fish oil,123,13.6,3.1,6.4,3.1,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,17.700

In [3]:
diet_nutri_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0.1          722 non-null    int64
 1   Unnamed: 0            722 non-null    int64
 2   food                  722 non-null    object
 3   Caloric Value         722 non-null    int64
 4   Fat                   722 non-null    float64
 5   Saturated Fats        722 non-null    float64
 6   Monounsaturated Fats  722 non-null    float64
 7   Polyunsaturated Fats  722 non-null    float64
 8   Carbohydrates         722 non-null    float64
 9   Sugars                722 non-null    float64
 10  Protein               722 non-null    float64
 11  Dietary Fiber         722 non-null    float64
 12  Cholesterol           722 non-null    float64
 13  Sodium                722 non-null    float64
 14  Water                 722 non-null    float64
 15  Vitamin A             722 non-null    float64
 16  Vitamin B1            722 non-null    float64
 17  Vitamin B11           722 non-null    float64
 18  Vitamin B12           722 non-null    float64
 19  Vitamin B2            722 non-null    float64
 20  Vitamin B3            722 non-null    float64
 21  Vitamin B5            722 non-null    float64
 22  Vitamin B6            722 non-null    float64
 23  Vitamin C             722 non-null    float64
 24  Vitamin D             722 non-null    float64
 25  Vitamin E             722 non-null    float64
 26  Vitamin K             722 non-null    float64
 27  Calcium               722 non-null    float64
 28  Copper                722 non-null    float64
 29  Iron                  722 non-null    float64
 30  Magnesium             722 non-null    float64
 31  Manganese             722 non-null    float64
 32  Phosphorus            722 non-null    float64
 33  Potassium             722 non-null    float64
 34  Selenium              722 non-null    float64
 35  Zinc                  722 non-null    float64
 36  Nutrition Density     722 non-null    float64
dtypes: float64(33), int64(3), object(1)
memory usage: 208.8+ KB

In [4]:
diet_nutri_data.isnull().sum()

Unnamed: 0.1            0
Unnamed: 0              0
food                    0
Caloric Value           0
Fat                     0
Saturated Fats          0
Monounsaturated Fats    0
Polyunsaturated Fats    0
Carbohydrates           0
Sugars                  0
Protein                 0
Dietary Fiber           0
Cholesterol             0
Sodium                  0
Water                   0
Vitamin A               0
Vitamin B1              0
Vitamin B11             0
Vitamin B12             0
Vitamin B2              0
Vitamin B3              0
Vitamin B5              0
Vitamin B6              0
Vitamin C               0
Vitamin D               0
Vitamin E               0
Vitamin K               0
Calcium                 0
Copper                  0
Iron                    0
Magnesium               0
Manganese               0
Phosphorus              0
Potassium               0
Selenium                0
Zinc                    0
Nutrition Density       0
dtype: int64

In [5]:
diet_nutri_data = diet_nutri_data.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
diet_nutri_data.head()

,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,Dietary Fiber,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,margarine with yoghurt,88,9.8,1.9,5.6,2.0,0.073,0.0,0.058,0.0,...,2.8,0.001,0.027,0.3,0.0,2.2,3.5,0.000,0.008,12.971
1,sunflower seed butter,99,8.8,0.7,6.2,1.6,3.700,1.7,2.800,0.9,...,10.2,0.300,0.700,49.8,0.3,106.6,92.2,0.075,0.800,27.500
2,hazelnut oil,120,13.6,1.0,10.6,1.4,0.000,0.0,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,13.600
3,menhaden fish oil,1966,218.0,66.3,58.2,74.5,0.000,0.0,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,218.000
4,cod liver fish oil,123,13.6,3.1,6.4,3.1,0.000,0.0,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,17.700

In [6]:
diet_data = pd.read_csv("diet/All_Diets.csv")
diet_data.head()

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g),Extraction_day,Extraction_time
0,paleo,Bone Broth From 'Nom Nom Paleo',american,5.22,1.29,3.20,2022-10-16,17:20:09
1,paleo,"Paleo Effect Asian-Glazed Pork Sides, A Sweet ...",south east asian,181.55,28.62,146.14,2022-10-16,17:20:09
2,paleo,Paleo Pumpkin Pie,american,30.91,302.59,96.76,2022-10-16,17:20:09
3,paleo,Strawberry Guacamole recipes,mexican,9.62,75.78,59.89,2022-10-16,17:20:09
4,paleo,"Asian Cauliflower Fried ""Rice"" From 'Nom Nom P...",chinese,39.84,54.08,71.55,2022-10-16,17:20:09

In [7]:
diet_data.columns

Index(['Diet_type', 'Recipe_name', 'Cuisine_type', 'Protein(g)', 'Carbs(g)',
       'Fat(g)', 'Extraction_day', 'Extraction_time'],
      dtype='object')

In [8]:
diet_data.isnull().sum()

Diet_type          0
Recipe_name        0
Cuisine_type       0
Protein(g)         0
Carbs(g)           0
Fat(g)             0
Extraction_day     0
Extraction_time    0
dtype: int64

In [9]:
diet_data.duplicated().value_counts()

False    7801
True        5
Name: count, dtype: int64

In [10]:
diet_data[diet_data.duplicated(keep=False) == True]
# Dropout duplicated and double check
diet_data = diet_data.drop_duplicates()

In [11]:
diet_data.duplicated().value_counts()

False    7801
Name: count, dtype: int64

In [12]:

diet_data['Cuisine_type'].unique()

array(['american', 'south east asian', 'mexican', 'chinese',
       'mediterranean', 'italian', 'french', 'indian', 'nordic',
       'eastern europe', 'central europe', 'kosher', 'british',
       'caribbean', 'south american', 'middle eastern', 'asian',
       'japanese', 'world'], dtype=object)