# Data exploration of food

In [182]:
import pandas as pd
import numpy as np

In [183]:
diet_nutri_data = pd.read_csv('dietNutri\FINAL FOOD DATASET\FOOD-DATA-GROUP5.csv')
diet_nutri_data.head()

,Unnamed: 0.1,Unnamed: 0,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,0,0,margarine with yoghurt,88,9.8,1.9,5.6,2.0,0.073,0.0,...,2.8,0.001,0.027,0.3,0.0,2.2,3.5,0.000,0.008,12.971
1,1,1,sunflower seed butter,99,8.8,0.7,6.2,1.6,3.700,1.7,...,10.2,0.300,0.700,49.8,0.3,106.6,92.2,0.075,0.800,27.500
2,2,2,hazelnut oil,120,13.6,1.0,10.6,1.4,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,13.600
3,3,3,menhaden fish oil,1966,218.0,66.3,58.2,74.5,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,218.000
4,4,4,cod liver fish oil,123,13.6,3.1,6.4,3.1,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,17.700

In [184]:
diet_nutri_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0.1          722 non-null    int64
 1   Unnamed: 0            722 non-null    int64
 2   food                  722 non-null    object
 3   Caloric Value         722 non-null    int64
 4   Fat                   722 non-null    float64
 5   Saturated Fats        722 non-null    float64
 6   Monounsaturated Fats  722 non-null    float64
 7   Polyunsaturated Fats  722 non-null    float64
 8   Carbohydrates         722 non-null    float64
 9   Sugars                722 non-null    float64
 10  Protein               722 non-null    float64
 11  Dietary Fiber         722 non-null    float64
 12  Cholesterol           722 non-null    float64
 13  Sodium                722 non-null    float64
 14  Water                 722 non-null    float64
 15  Vitamin A             722 non-null    float64
 16  Vitamin B1            722 non-null    float64
 17  Vitamin B11           722 non-null    float64
 18  Vitamin B12           722 non-null    float64
 19  Vitamin B2            722 non-null    float64
 20  Vitamin B3            722 non-null    float64
 21  Vitamin B5            722 non-null    float64
 22  Vitamin B6            722 non-null    float64
 23  Vitamin C             722 non-null    float64
 24  Vitamin D             722 non-null    float64
 25  Vitamin E             722 non-null    float64
 26  Vitamin K             722 non-null    float64
 27  Calcium               722 non-null    float64
 28  Copper                722 non-null    float64
 29  Iron                  722 non-null    float64
 30  Magnesium             722 non-null    float64
 31  Manganese             722 non-null    float64
 32  Phosphorus            722 non-null    float64
 33  Potassium             722 non-null    float64
 34  Selenium              722 non-null    float64
 35  Zinc                  722 non-null    float64
 36  Nutrition Density     722 non-null    float64
dtypes: float64(33), int64(3), object(1)
memory usage: 208.8+ KB

In [185]:
diet_nutri_data.isnull().sum()

Unnamed: 0.1            0
Unnamed: 0              0
food                    0
Caloric Value           0
Fat                     0
Saturated Fats          0
Monounsaturated Fats    0
Polyunsaturated Fats    0
Carbohydrates           0
Sugars                  0
Protein                 0
Dietary Fiber           0
Cholesterol             0
Sodium                  0
Water                   0
Vitamin A               0
Vitamin B1              0
Vitamin B11             0
Vitamin B12             0
Vitamin B2              0
Vitamin B3              0
Vitamin B5              0
Vitamin B6              0
Vitamin C               0
Vitamin D               0
Vitamin E               0
Vitamin K               0
Calcium                 0
Copper                  0
Iron                    0
Magnesium               0
Manganese               0
Phosphorus              0
Potassium               0
Selenium                0
Zinc                    0
Nutrition Density       0
dtype: int64

In [186]:
diet_nutri_data = diet_nutri_data.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
diet_nutri_data.head()

,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,Dietary Fiber,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,margarine with yoghurt,88,9.8,1.9,5.6,2.0,0.073,0.0,0.058,0.0,...,2.8,0.001,0.027,0.3,0.0,2.2,3.5,0.000,0.008,12.971
1,sunflower seed butter,99,8.8,0.7,6.2,1.6,3.700,1.7,2.800,0.9,...,10.2,0.300,0.700,49.8,0.3,106.6,92.2,0.075,0.800,27.500
2,hazelnut oil,120,13.6,1.0,10.6,1.4,0.000,0.0,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,13.600
3,menhaden fish oil,1966,218.0,66.3,58.2,74.5,0.000,0.0,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,218.000
4,cod liver fish oil,123,13.6,3.1,6.4,3.1,0.000,0.0,0.000,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.000,0.000,17.700

In [187]:
diet_data = pd.read_csv("diet/All_Diets.csv")
diet_data.head()

,Diet_type,Recipe_name,Cuisine_type,Protein(g),Carbs(g),Fat(g),Extraction_day,Extraction_time
0,paleo,Bone Broth From 'Nom Nom Paleo',american,5.22,1.29,3.20,2022-10-16,17:20:09
1,paleo,"Paleo Effect Asian-Glazed Pork Sides, A Sweet ...",south east asian,181.55,28.62,146.14,2022-10-16,17:20:09
2,paleo,Paleo Pumpkin Pie,american,30.91,302.59,96.76,2022-10-16,17:20:09
3,paleo,Strawberry Guacamole recipes,mexican,9.62,75.78,59.89,2022-10-16,17:20:09
4,paleo,"Asian Cauliflower Fried ""Rice"" From 'Nom Nom P...",chinese,39.84,54.08,71.55,2022-10-16,17:20:09

In [188]:
diet_data.columns

Index(['Diet_type', 'Recipe_name', 'Cuisine_type', 'Protein(g)', 'Carbs(g)',
       'Fat(g)', 'Extraction_day', 'Extraction_time'],
      dtype='object')

In [189]:
diet_data.isnull().sum()

Diet_type          0
Recipe_name        0
Cuisine_type       0
Protein(g)         0
Carbs(g)           0
Fat(g)             0
Extraction_day     0
Extraction_time    0
dtype: int64

In [190]:
diet_data.duplicated().value_counts()

False    7801
True        5
Name: count, dtype: int64

In [191]:
diet_data[diet_data.duplicated(keep=False) == True]
# Dropout duplicated and double check
diet_data = diet_data.drop_duplicates()

In [192]:
diet_data.duplicated().value_counts()

False    7801
Name: count, dtype: int64

In [193]:

diet_data['Cuisine_type'].unique()

array(['american', 'south east asian', 'mexican', 'chinese',
       'mediterranean', 'italian', 'french', 'indian', 'nordic',
       'eastern europe', 'central europe', 'kosher', 'british',
       'caribbean', 'south american', 'middle eastern', 'asian',
       'japanese', 'world'], dtype=object)

In [194]:
diet_data = pd.read_csv("dietNutri\FINAL FOOD DATASET\FOOD-DATA-GROUP1.csv")
diet_data.head()

,Unnamed: 0.1,Unnamed: 0,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,0,0,cream cheese,51,5.0,2.9,1.3,0.200,0.8,0.500,...,0.008,14.100,0.082,0.027,1.300,0.091,15.5,19.100,0.039,7.070
1,1,1,neufchatel cheese,215,19.4,10.9,4.9,0.800,3.1,2.700,...,99.500,0.034,0.100,8.500,0.088,117.300,129.2,0.054,0.700,130.100
2,2,2,requeijao cremoso light catupiry,49,3.6,2.3,0.9,0.000,0.9,3.400,...,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,5.400
3,3,3,ricotta cheese,30,2.0,1.3,0.5,0.002,1.5,0.091,...,0.097,41.200,0.097,0.096,4.000,0.024,30.8,43.800,0.035,5.196
4,4,4,cream cheese low fat,30,2.3,1.4,0.6,0.042,1.2,0.900,...,22.200,0.072,0.008,1.200,0.098,22.800,37.1,0.034,0.053,27.007

In [195]:
diet_data = pd.read_csv("diet/recipes.csv")
diet_data.head()

,RecipeId,Name,AuthorId,AuthorName,CookTime,PrepTime,TotalTime,DatePublished,Description,Images,...,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield,RecipeInstructions
0,38,Low-Fat Berry Blue Frozen Dessert,1533,Dancer,PT24H,PT45M,PT24H45M,1999-08-09T21:46:00Z,Make and share this Low-Fat Berry Blue Frozen ...,"c(""https://img.sndimg.com/food/image/upload/w_...",...,1.3,8.0,29.8,37.1,3.6,30.2,3.2,4.0,NaN,"c(""Toss 2 cups berries with sugar."", ""Let stan..."
1,39,Biryani,1567,elly9812,PT25M,PT4H,PT4H25M,1999-08-29T13:12:00Z,Make and share this Biryani recipe from Food.com.,"c(""https://img.sndimg.com/food/image/upload/w_...",...,16.6,372.8,368.4,84.4,9.0,20.4,63.4,6.0,NaN,"c(""Soak saffron in warm milk for 5 minutes and..."
2,40,Best Lemonade,1566,Stephen Little,PT5M,PT30M,PT35M,1999-09-05T19:52:00Z,This is from one of my first Good House Keepi...,"c(""https://img.sndimg.com/food/image/upload/w_...",...,0.0,0.0,1.8,81.5,0.4,77.2,0.3,4.0,NaN,"c(""Into a 1 quart Jar with tight fitting lid, ..."
3,41,Carina's Tofu-Vegetable Kebabs,1586,Cyclopz,PT20M,PT24H,PT24H20M,1999-09-03T14:54:00Z,This dish is best prepared a day in advance to...,"c(""https://img.sndimg.com/food/image/upload/w_...",...,3.8,0.0,1558.6,64.2,17.3,32.1,29.3,2.0,4 kebabs,"c(""Drain the tofu, carefully squeezing out exc..."
4,42,Cabbage Soup,1538,Duckie067,PT30M,PT20M,PT50M,1999-09-19T06:19:00Z,Make and share this Cabbage Soup recipe from F...,"""https://img.sndimg.com/food/image/upload/w_55...",...,0.1,0.0,959.3,25.1,4.8,17.7,4.3,4.0,NaN,"c(""Mix everything together and bring to a boil..."

In [196]:
diet_data.shape

(522517, 28)

In [197]:
diet_data.columns

Index(['RecipeId', 'Name', 'AuthorId', 'AuthorName', 'CookTime', 'PrepTime',
       'TotalTime', 'DatePublished', 'Description', 'Images', 'RecipeCategory',
       'Keywords', 'RecipeIngredientQuantities', 'RecipeIngredientParts',
       'AggregatedRating', 'ReviewCount', 'Calories', 'FatContent',
       'SaturatedFatContent', 'CholesterolContent', 'SodiumContent',
       'CarbohydrateContent', 'FiberContent', 'SugarContent', 'ProteinContent',
       'RecipeServings', 'RecipeYield', 'RecipeInstructions'],
      dtype='object')

In [198]:
# check the numerical and categorical in diet_Data
diet_data.dtypes

RecipeId                        int64
Name                           object
AuthorId                        int64
AuthorName                     object
CookTime                       object
PrepTime                       object
TotalTime                      object
DatePublished                  object
Description                    object
Images                         object
RecipeCategory                 object
Keywords                       object
RecipeIngredientQuantities     object
RecipeIngredientParts          object
AggregatedRating              float64
ReviewCount                   float64
Calories                      float64
FatContent                    float64
SaturatedFatContent           float64
CholesterolContent            float64
SodiumContent                 float64
CarbohydrateContent           float64
FiberContent                  float64
SugarContent                  float64
ProteinContent                float64
RecipeServings                float64
RecipeYield                    object
RecipeInstructions             object
dtype: object

In [199]:
nutritional_cols = ["RecipeId", "Name", "Calories", "FatContent", "SaturatedFatContent", "CholesterolContent", "SodiumContent", "CarbohydrateContent", "FiberContent", "SugarContent", "ProteinContent", "RecipeServings"]
nutritional_df = diet_data[nutritional_cols]

In [200]:
nutritional_df.dtypes

RecipeId                 int64
Name                    object
Calories               float64
FatContent             float64
SaturatedFatContent    float64
CholesterolContent     float64
SodiumContent          float64
CarbohydrateContent    float64
FiberContent           float64
SugarContent           float64
ProteinContent         float64
RecipeServings         float64
dtype: object

In [201]:
nutritional_df = nutritional_df.dropna(axis=0)

In [202]:
nutritional_df.head()

,RecipeId,Name,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings
0,38,Low-Fat Berry Blue Frozen Dessert,170.9,2.5,1.3,8.0,29.8,37.1,3.6,30.2,3.2,4.0
1,39,Biryani,1110.7,58.8,16.6,372.8,368.4,84.4,9.0,20.4,63.4,6.0
2,40,Best Lemonade,311.1,0.2,0.0,0.0,1.8,81.5,0.4,77.2,0.3,4.0
3,41,Carina's Tofu-Vegetable Kebabs,536.1,24.0,3.8,0.0,1558.6,64.2,17.3,32.1,29.3,2.0
4,42,Cabbage Soup,103.6,0.4,0.1,0.0,959.3,25.1,4.8,17.7,4.3,4.0

In [203]:
print(nutritional_df.isnull().sum())

RecipeId               0
Name                   0
Calories               0
FatContent             0
SaturatedFatContent    0
CholesterolContent     0
SodiumContent          0
CarbohydrateContent    0
FiberContent           0
SugarContent           0
ProteinContent         0
RecipeServings         0
dtype: int64

In [204]:
nutritional_df['Name'].value_counts()

Name
Beef Stroganoff                                      88
Banana Bread                                         87
Chicken Enchiladas                                   83
Apple Crisp                                          70
Chicken Pot Pie                                      66
                                                     ..
Caramelised Carrots &amp; Onions                      1
Parsnip &amp; Celeriac Bake                           1
Polish Sausage and Sauerkraut Casserole (Kapusta)     1
Chili Mango Tassies - Holiday Cookies                 1
Kirshwasser Ice Cream                                 1
Name: count, Length: 295234, dtype: int64

In [205]:
cols_to_divide = ["Calories", "FatContent", "SaturatedFatContent", "CholesterolContent", "SodiumContent", "CarbohydrateContent", "FiberContent", "SugarContent", "ProteinContent"]
nutritional_df[cols_to_divide] = nutritional_df[cols_to_divide].div(nutritional_df["RecipeServings"], axis=0)
nutritional_df.drop("RecipeServings", axis=1)

,RecipeId,Name,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent
0,38,Low-Fat Berry Blue Frozen Dessert,42.725000,0.625000,0.325000,2.000000,7.450000,9.275000,0.900000,7.550000,0.800000
1,39,Biryani,185.116667,9.800000,2.766667,62.133333,61.400000,14.066667,1.500000,3.400000,10.566667
2,40,Best Lemonade,77.775000,0.050000,0.000000,0.000000,0.450000,20.375000,0.100000,19.300000,0.075000
3,41,Carina's Tofu-Vegetable Kebabs,268.050000,12.000000,1.900000,0.000000,779.300000,32.100000,8.650000,16.050000,14.650000
4,42,Cabbage Soup,25.900000,0.100000,0.025000,0.000000,239.825000,6.275000,1.200000,4.425000,1.075000
...,...,...,...,...,...,...,...,...,...,...,...
522509,541376,Spanish Coffee with Tia Maria,84.300000,2.100000,1.200000,6.800000,15.700000,16.600000,0.400000,15.400000,0.600000
522510,541377,Slow-Cooker Classic Coffee Cake,29.908333,1.650000,0.875000,8.591667,26.950000,3.458333,0.066667,2.066667,0.400000
522512,541379,Meg's Fresh Ginger Gingerbread,39.575000,1.562500,0.950000,6.800000,34.775000,6.062500,0.100000,2.850000,0.487500
522513,541380,Roast Prime Rib au Poivre with Mixed Peppercorns,257.925000,21.550000,8.925000,54.225000,95.787500,0.400000,0.087500,0.012500,14.625000
522514,541381,Kirshwasser Ice Cream,211.883333,19.533333,12.100000,78.483333,32.083333,5.650000,0.000000,2.883333,2.133333

In [206]:
nutritional_df.head()

,RecipeId,Name,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings
0,38,Low-Fat Berry Blue Frozen Dessert,42.725000,0.625,0.325000,2.000000,7.450,9.275000,0.90,7.550,0.800000,4.0
1,39,Biryani,185.116667,9.800,2.766667,62.133333,61.400,14.066667,1.50,3.400,10.566667,6.0
2,40,Best Lemonade,77.775000,0.050,0.000000,0.000000,0.450,20.375000,0.10,19.300,0.075000,4.0
3,41,Carina's Tofu-Vegetable Kebabs,268.050000,12.000,1.900000,0.000000,779.300,32.100000,8.65,16.050,14.650000,2.0
4,42,Cabbage Soup,25.900000,0.100,0.025000,0.000000,239.825,6.275000,1.20,4.425,1.075000,4.0

In [207]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error

class RecipeRecommenderKNN:
    def __init__(self, nutritional_df, cols_to_divide, target_col):
        self.original_nutritional_df = nutritional_df
        self.nutritional_df = nutritional_df.copy()
        self.cols_to_divide = cols_to_divide
        self.target_col = target_col  # Assuming a target column exists (e.g., user ratings or scores)
        
        # Normalize the features
        self.scaler = StandardScaler()
        self.nutritional_df[self.cols_to_divide] = self.scaler.fit_transform(self.nutritional_df[self.cols_to_divide])

        # Train-test split
        X = self.nutritional_df[self.cols_to_divide]
        y = self.nutritional_df[self.target_col]  # Target column like ratings or calories, etc.
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        # Initialize KNN with default params
        self.knn = KNeighborsRegressor(metric='euclidean')
        self.knn.fit(self.X_train, self.y_train)

  
    def tune_hyperparameters(self):
        try:
            # Define hyperparameter grid
            param_grid = {
                'n_neighbors': [3, 5, 10, 15],
                'weights': ['uniform', 'distance'],
                'metric': ['euclidean', 'manhattan']
            }

            # Initialize GridSearchCV with KNeighborsRegressor
            grid_search = GridSearchCV(KNeighborsRegressor(), param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)

            # Fit the model on the training data
            grid_search.fit(self.X_train, self.y_train)

            # Set the best estimator from grid search
            self.knn = grid_search.best_estimator_

            # Output the best hyperparameters
            print(f"Best params: {grid_search.best_params_}")

        except AttributeError as e:
            print(f"Error: {e}. Ensure that the training data (X_train, y_train) is defined and properly shaped.")
        except Exception as e:
            print(f"An error occurred: {e}")

    def evaluate_model(self):
        # Evaluate on test set
        predictions = self.knn.predict(self.X_test)
        mse = mean_squared_error(self.y_test, predictions)
        print(f"Mean Squared Error: {mse}")
        return mse

    def find_closest_recipes(self, recipe_id, k=50):
        # Get the recipe data and find nearest neighbors
        input_recipe = self.nutritional_df.loc[self.nutritional_df["RecipeId"] == recipe_id, self.cols_to_divide]
        distances, indices = self.knn.kneighbors(input_recipe, n_neighbors=k+1)
        
        closest_indices = indices[0][1:]  # Exclude the first element (recipe itself)
        return self.original_nutritional_df.iloc[closest_indices]

    def get_trained_model(self):
        return self.knn

In [208]:
target_col = 'Calories'  # Replace this with the actual target column you want to predict

# Step 1: Create an instance of the class
recommender = RecipeRecommenderKNN(nutritional_df, cols_to_divide, target_col)


# Step 3: Evaluate model performance
mse = recommender.evaluate_model()

# Step 4: Find closest recipes for a specific RecipeId
closest_recipes = recommender.find_closest_recipes(recipe_id=72631)

Mean Squared Error: 0.004343851828309988

In [209]:
closest_recipes.head()

,RecipeId,Name,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings
394783,409196,Sesame Seed Chicken (A Turkish Meze),28.3500,2.062500,0.4875,5.725000,9.3875,0.800000,0.225,0.0375,1.725000,8.0
268404,279131,Crock Pot Button Bone BBQ Pork,227.5000,9.625000,3.1000,73.100000,332.2750,7.550000,0.375,5.6000,26.100000,4.0
288550,299828,Peking Shrimp,29.4000,0.275000,0.0750,41.425000,60.4750,1.825000,0.350,0.5500,4.825000,4.0
271487,282302,Chocolate Stuffed Eclairs,39.7250,1.908333,0.8250,13.258333,22.1750,5.233333,0.150,3.8500,0.716667,12.0
48809,52866,Blitz Kuchen,29.9375,1.750000,1.0375,15.775000,16.9750,3.175000,0.050,1.5875,0.412500,8.0

Calorie to maintain

In [210]:
# Required Libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Load the Dataset (replace 'data.csv' with your actual dataset file)
df = pd.read_csv('diet/Dataset.csv')

# View the first few rows of the dataset
print(df.head())

   Unnamed: 0  age  weight(kg)  height(m) gender        BMI      BMR  \
0           1    2   16.097862   0.932025      F  18.531612  958.584
1           2    4   14.619374   0.916687      F  17.397496  932.383
2           4    4   17.899918   0.997288      F  17.997414  977.578
3           6    3   13.532880   1.022786      F  12.936609  944.689
4           8    4   17.039484   1.053977      M  15.338909  799.229

   activity_level  calories_to_maintain_weight  BMI_tags  Label
0             1.2                    1150.3008         8     13
1             1.7                    1585.0511         7      1
2             1.9                    1857.3982         7      4
3             1.9                    1794.9091         7      3
4             1.9                    1518.5351         7      0

In [211]:
# Drop any unnecessary columns (if required, e.g., 'Unnamed: 0')
df = df.drop(columns=['Unnamed: 0','BMI_tags','Label'], errors='ignore')

In [212]:
df.columns

Index(['age', 'weight(kg)', 'height(m)', 'gender', 'BMI', 'BMR',
       'activity_level', 'calories_to_maintain_weight'],
      dtype='object')

In [213]:
print(df.isnull().sum())

age                            0
weight(kg)                     0
height(m)                      0
gender                         0
BMI                            0
BMR                            0
activity_level                 0
calories_to_maintain_weight    0
dtype: int64

In [214]:
df.dtypes

age                              int64
weight(kg)                     float64
height(m)                      float64
gender                          object
BMI                            float64
BMR                            float64
activity_level                 float64
calories_to_maintain_weight    float64
dtype: object

In [215]:

label_encoder_gender = LabelEncoder()
df['gender'] = label_encoder_gender.fit_transform(df['gender'])

In [216]:
df.head()

,age,weight(kg),height(m),gender,BMI,BMR,activity_level,calories_to_maintain_weight
0,2,16.097862,0.932025,0,18.531612,958.584,1.2,1150.3008
1,4,14.619374,0.916687,0,17.397496,932.383,1.7,1585.0511
2,4,17.899918,0.997288,0,17.997414,977.578,1.9,1857.3982
3,3,13.532880,1.022786,0,12.936609,944.689,1.9,1794.9091
4,4,17.039484,1.053977,1,15.338909,799.229,1.9,1518.5351

In [217]:

# Define Features and Target Variable
X = df[['age', 'weight(kg)', 'height(m)', 'gender', 'BMI','BMR','activity_level']]
y = df['calories_to_maintain_weight']

# Split Dataset into Train and Test Sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features (important for models like SVM, but less so for Random Forest)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Initialize and Train the Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

# Predict on Test Data
y_pred = model.predict(X_test_scaled)

# Evaluate the Model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"RÂ² Score: {r2}")

# Example of Prediction for New Data
# Replace these values with new input data for prediction
new_data = pd.DataFrame({
    'age': [25],
    'weight(kg)': [70],
    'height(m)': [1.75],
    'gender': 0,
    'BMI': [22.86],
    'BMR': [958.58],
    'activity_level': [1]
    
})

# Scale the new data
new_data_scaled = scaler.transform(new_data)

# Predict Daily Caloric Intake
predicted_calories = model.predict(new_data_scaled)
print(f"Predicted Daily Caloric Intake: {predicted_calories[0]} calories")

Mean Absolute Error (MAE): 0.6453918928238438
Mean Squared Error (MSE): 12.6193527288236
RÂ² Score: 0.9999202623011854
Predicted Daily Caloric Intake: 1388.1126389999997 calories