In [1]:
import pandas as pd
import numpy as np

In [2]:
stretch_data = pd.read_csv("gym/stretch_exercise_dataset.csv")
stretch_data.head()

,Exercise Name,Equipment,Preparation,Execution,Target_Muscles,Synergist_Muscles,Main_muscle
0,Retraction​​​​​​​,Stretch,Stand or sit.,Pull head back as far possible while looking s...,"Longus colli,","Splenius, Trapezius, Upper, Erector Spinae, Ce...",Neck
1,Neck Extensor,Stretch,Bow head forward with jaw shut. Depress chin i...,Slightly turn head to one side. Hold stretch. ...,"Splenius,","Trapezius, Upper (Part 1), Erector Spinae, Cer...",Neck
2,Doorway,Stretch,NaN,NaN,"Deltoid, Anterior,","Pectoralis Major, Sternal, Pectoralis Major, C...",Shoulder
3,Wall,Stretch,NaN,NaN,"Deltoid, Anterior,","Pectoralis Major, Sternal, Pectoralis Major, C...",Shoulder
4,Side Deltoid,Stretch,NaN,NaN,"Deltoid, Lateral,","Infraspinatus, Teres Minor, Trapezius, Middle,...",Shoulder

In [3]:
stretch_data.columns

Index(['Exercise Name', 'Equipment', 'Preparation', 'Execution',
       'Target_Muscles', 'Synergist_Muscles', 'Main_muscle'],
      dtype='object')

In [4]:
sleep_data = pd.read_csv("sleep/ss.csv")
sleep_data.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [5]:
print(sleep_data.info())
print(sleep_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                373 non-null    int64
 1   Gender                   373 non-null    object
 2   Age                      373 non-null    int64
 3   Occupation               373 non-null    object
 4   Sleep Duration           373 non-null    float64
 5   Quality of Sleep         373 non-null    int64
 6   Physical Activity Level  373 non-null    int64
 7   Stress Level             373 non-null    int64
 8   BMI Category             373 non-null    object
 9   Blood Pressure           373 non-null    object
 10  Heart Rate               373 non-null    int64
 11  Daily Steps              373 non-null    int64
 12  Sleep Disorder           154 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.0+ KB
None
        Person ID         Age  Sleep Duration  Quality of Sleep  \
count  373.000000  373.000000      373.000000        373.000000
mean   187.000000   42.139410        7.129491          7.308311
std    107.820066    8.640793        0.795139          1.195359
min      1.000000   27.000000        5.800000          4.000000
25%     94.000000   35.000000        6.400000          6.000000
50%    187.000000   43.000000        7.200000          7.000000
75%    280.000000   50.000000        7.800000          8.000000
max    373.000000   59.000000        8.500000          9.000000

       Physical Activity Level  Stress Level  Heart Rate   Daily Steps
count               373.000000    373.000000  373.000000    373.000000
mean                 59.128686      5.391421   70.171582   6816.353887
std                  20.842589      1.772590    4.139704   1620.060932
min                  30.000000      3.000000   65.000000   3000.000000
25%                  45.000000      4.000000   68.000000   5600.000000
50%                  60.000000      5.000000   70.000000   7000.000000
75%                  75.000000      7.000000   72.000000   8000.000000
max                  90.000000      8.000000   86.000000  10000.000000

In [6]:

print(sleep_data.isnull().sum())

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [7]:
# print(sleep_data.isnull().sum())
sleep_data['Gender'] = sleep_data['Gender'].map({'Male': 0, 'Female': 1})
# sleep_data = sleep_data.fillna(sleep_data.median())
# print(sleep_data.isnull().sum())
sleep_data['Gender']
# print(diet_data.isnull().sum())
# print(diet_nutri_data.isnull().sum())

0      0
1      0
2      0
3      0
4      0
      ..
368    1
369    1
370    1
371    1
372    1
Name: Gender, Length: 373, dtype: int64

In [8]:
sleep_data['Occupation'].unique()

array(['Software Engineer', 'Doctor', 'Sales Representative', 'Teacher',
       'Nurse', 'Engineer', 'Accountant', 'Scientist', 'Lawyer',
       'Salesperson', 'Manager'], dtype=object)

In [9]:
sleep_data['Gender'].value_counts()

Gender
0    189
1    184
Name: count, dtype: int64

In [10]:
sleep_data['Gender'].value_counts()

Gender
0    189
1    184
Name: count, dtype: int64